1. What are data structures, and why are they important?
- A data structure is a specialized format for organizing,storing and managing data. They are important because the use of right data structure makes different operations more efficient in terms of speed as well as space and easier to manage.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types are the ones which can be modified after creation
  
  ex- ls=[1,2,3]
      ls[0]=100
      This modifies the list 1st index that is 1 to 100
- Immutable objects are the ones that cannot be modified after their creation and if any changes are made then new object is created.
   
   ex- my_tuple = (1, 2, 3)
   my_tuple[0] = 100
   This will raise a TypeError

3. What are the main differences between lists and tuples in Python?

- List is initialised with square brackets [] whereas tuple is initialised with parenthesis ()
- Lists are mutable and tuple are immutable
- List is slower due to dynamic size and tuple is more efficient

4. Describe how dictionaries store data

- Dictionaries store data in key-value pairs. Each piece of data (the value) is associated with a unique identifier (the key)

- Keys must be unique and immutable
- values can be of any type and can be duplicated

  ex- person = {'name': 'Alice', 'age': 30}

5. Why might you use a set instead of a list in Python?

- We use set when we want group of unique elements from the collection of items

- we use set when we want to check whether an item is present in a set which is faster as compared to that of checking in list

6. What is a string in Python, and how is it different from a list?

- A string is an immutable sequence of characters.

- The key differences from a list are:

    - Immutability: You cannot change a character in a string after it's created. You must create a new string to "modify" it.

    - Content Type: A string can only contain characters, whereas a list can contain a mix of different data types (integers, other lists, etc.).

7. How do tuples ensure data integrity in Python?
- Tuple ensure data integrity through immutability as the elements in tuple cannot be modified after creation thus making it resistant to change.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A Hash table is a highly efficient data structure that maps keys to values and it uses a special function to calculate the index value used to store the key at that particular postion

- Dictionaries are implemented using Hash Tables which uses the Hash function to find out the index where the keys are stored making the operations of addition,deletion and updation in O(1) time thus helping to find out the value of the key instantly.

9. Can lists contain different data types in Python?

- es. Python lists are very flexible and can hold elements of various data types within the same list.
  - ex- mixed_list = [10, "Hello", 3.14, True, [1, 2]]

10. Explain why strings are immutable in Python.

- String are immutable due to the following reasons:-

  - String value can't be changed, multiple pointers pointing to the same string share the same memory block

  - Immutable nature of string makes it suitable to use as dictionaries

  - when we pass string to a function as parameter then we can be sure that the value does not change

11. What advantages do dictionaries offer over lists for certain tasks?

- The primary advantage of dictionary over list is the fast retrieval operations of dictionary in O(1) time whereas the same operation take place in O(n) time for inserting  an element at nth position

12. Describe a scenario where using a tuple would be preferable over a list.

- A perfect scenario is for storing a collection of fixed data that represents a single entity, such as geographic coordinates.

 - ex- coord=(1.2,4.5), represent coordinate which is particular type

 - The main reason include-
    
    - Immutability prevent accidental change
    - Fixed size
    - slightly memory efficient than list

13. How do sets handle duplicate values in Python?

- Sets inherently do not allow duplicate values. If we try to add an element that is already in the set, the set simply remains unchanged. No error is raised.

14. How does the “in” keyword work differently for lists and dictionaries?

- For a list, the in keyword checks if a value exists in the list.
  
  ex- ls=[12,2,3]
      print(12 in ls) It returns true
- For a dictionary, the in keyword checks if a key exists in the dictionary. It does not check the values by default.
   
   ex- my_dict = {'a': 1, 'b': 2}
       print('a' in my_dict) prints true

15. Can you modify the elements of a tuple? Explain why or why not.

- No, we cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its structure and the elements it contains cannot be altered. Attempting to reassign an element will result in a TypeError

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary where one or more of the values are also dictionaries. This allows us to create complex hierarchical data structures.

- A common use case is storing structured information, like a collection of employee records, where each employee has multiple attributes.

- ex- employees = {
    'emp101': {
        'name': 'John Doe',
        'position': 'Developer',
        'contact': {'email': 'john.d@example.com', 'phone': '123-456-7890'}
    },
}

 17. Describe the time complexity of accessing elements in a dictionary
  
  - The time complexity for accessing, adding, or deleting an element in a Python dictionary is, on average, O(1), or constant time. This means the operation takes roughly the same amount of time regardless of how many items are in the dictionary thus making it efficient.

18. In what situations are lists preferred over dictionaries?

- Lists are preferred -
   - When order of element matters
   - we need inexing to access element
   - when we need sequence of items without looking them up in a unique key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries are considered unordered because they involve the use of hash function to calculate the index value on the basis of which the key are stored at a particular place.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List: we retrieve data by its numerical position (index).

  ex- my_list = ['apple', 'banana', 'cherry']
  item = my_list[1]

- Dictionary: You retrieve data by its unique label (key).

  ex- my_dict = {'fruit': 'apple', 'color': 'red'}
  item = my_dict['fruit']

# Practical Questions

1. Create a string with your name and print it

In [1]:
st="Aditya Kiran Pati"
print(st)

Aditya Kiran Pati

2. Find the length of the string "Hello World"

In [2]:
st="Hello World"
print(len(st))

11

3. Slice the first 3 characters from "Python Programming"

In [3]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

4. Convert the string "hello" to uppercase

In [4]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Replace "apple" with "orange" in "I like apple"

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Create a list with numbers 1 to 5 and print it

In [6]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4]

In [7]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Reverse the list [10, 20, 30, 40, 50]

In [9]:
ls=[10,20,30,40,50]
print(ls[::-1])

[50, 40, 30, 20, 10]

11. Create a tuple with 100, 200, 300

In [10]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Access the second-to-last element of a tuple

In [12]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13. Find the minimum number in a tuple

In [13]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(f"The index of 'cat' is: {index}")

The index of 'cat' is: 1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'orange')
is_present = 'kiwi' in fruits
print(is_present)

False

16. Create a set with 'a', 'b', 'c'

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(f"Cleared set: {my_set}")

Cleared set: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(f"Union: {union_set}")

Union: {1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(f"Intersection: {intersection_set}")

Intersection: {2, 3}

21. Create a dictionary with keys "name", "age", "city"

In [21]:
my_dict = {
    "name": "Alex",
    "age": 28,
    "city": "London"
}
print(my_dict)

{'name': 'Alex', 'age': 28, 'city': 'London'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = "city" in my_dict
print(key_exists)

True

26. Create and print a list, a tuple, and a dictionary

In [26]:
my_list = [1, "hello", 2.5]
my_tuple = (10, 20, 30)
my_dict = {"key1": "value1", "key2": "value2"}

print(f"My List: {my_list}")
print(f"My Tuple: {my_tuple}")
print(f"My Dictionary: {my_dict}")

My List: [1, 'hello', 2.5]
My Tuple: (10, 20, 30)
My Dictionary: {'key1': 'value1', 'key2': 'value2'}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [27]:
import random
random_list = [random.randint(1, 100) for _ in range(5)]
print(f"Original list: {random_list}")

random_list.sort()
print(f"Sorted list: {random_list}")

Original list: [71, 20, 4, 78, 90]
Sorted list: [4, 20, 71, 78, 90]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
element = my_list[3]
print(element)

date

29. Write a code to combine two dictionaries into one and print the result

In [29]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = dict1 | dict2
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [30]:
string_list = ["apple", "banana", "apple", "orange", "banana"]
print(f"Original list: {string_list}")
string_set = set(string_list)
print(f"Converted set: {string_set}")

Original list: ['apple', 'banana', 'apple', 'orange', 'banana']
Converted set: {'apple', 'banana', 'orange'}